{% extends 'app/base.html' %}

{% block content %}
    <h1>Hi, My Name is <span> Rachele Rosal</span></h1>
     <p>
         My name is Rachele Rosal, and I live in Parañaque City. I am a third-year college student at
         Cavite State University – Bacoor Campus, studying Bachelor of Science in Information Technology.
         I chose this course because I’ve always been curious about how technology works and how it changes the world.
         I want to learn more about things, so I can gain the knowledge and skills I need for my future job. I believe
         that the more I learn now, the more I can use when I start working. My goal is to keep learning
         and improving so I can become a skilled and flexible IT professional.
     </p>
{% endblock content %}