{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <h1>Hi, I'm<span> Rachele!</span></h1>
     <p>
         I am currently studying Information Technology, where I am learning the basics of programming and web development.
         Right now, I am creating a website using Django, which helps me understand how backend and frontend development work together.
         I enjoy exploring how websites function and how different features are built using code. I also want to learn more about Django
         and other programming languages to improve my skills and become a better developer.
     </p>

{% endblock content %}

